@font-face {
  font-family: Pacifico;
  src: url(../fonts/Pacifico-Regular.ttf);
}
@font-face {
  font-family: Righteous;
  src: url(../fonts/Righteous-Regular.ttf);
}
::selection {
  background-color: #ffcc00; /* لون الخلفية عند التحديد */
  color: #000000;
}

body {
  background-image: url("https://www.transparenttextures.com/patterns/white-wall-3.png");
  background-color: #f7ecde;
}
td {
  vertical-align: middle;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  max-width: 150px;
}

.main-container {
  padding: 40px;
  border-radius: 20px;
  border: 1px #adadad solid;
  background-color: #fcf1e3;
  background-image: url("https://www.transparenttextures.com/patterns/white-wall-3.png");
}

label {
  color: #1e1e1e;
  font-weight: 500;
}
.w-fitcontent {
  width: fit-content;
}
h1 {
  font-size: clamp(40px, 8vw, 60px);
  font-family: Pacifico;
  position: relative;
  z-index: 9;
}
h1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40%;
  background-color: #ffcc00;
  z-index: -1;
  transition: height 0.5s ease;
}
.w-fitcontent:hover h1::before {
  height: 70%;
}
.main-title {
  color: #444444;
  font-size: clamp(18px, 2vw, 32px);
  font-family: Righteous;
}
.data {
  height: 40vh;
  overflow: auto;
}
thead tr {
  position: sticky;
  top: 0;
  z-index: 1;
}
